name: PHP Composer

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  tests:
    name: "Windows UNC Test"
    runs-on: ${{ matrix.operating-system }}
    continue-on-error: ${{ matrix.php-version == '8.0' }}

    strategy:
      fail-fast: false
      matrix:
        php-version:
          - "8.0"
        operating-system: [windows-latest]

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v2.3.1"

      - uses: Vampire/setup-wsl@v1
        name: "Setup WSL"

      - name: "Check WSL"
        shell: wsl-bash {0}
        run: id

      - name: "Windows DIR"
        run: "dir '\\\\\\wsl$\\Debian'"


      - name: "PHP Test"
        run: "php test.php '\\\\\\wsl$\\Debian'"
